.container{
  height: 25vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: #010440;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  box-shadow: 0 0 8px 4px #452a91;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 450px){
    .container{
        width: 80vw;
        height: 90vw;
    }
}
@media only screen and (min-width: 450px) and (max-width: 650px){
    .container{
        width: 85vw;
        height: 80vw;
    }
    
}
@media only screen and (min-width:650px) and (max-width:900px){
    .container{
        width: 85vw;
        height: 80vw;
    }
}
@media only screen and (min-width:900px) and (max-width:1280px){
    .container{
        width: 75vw;
        height: 40vw;
    }
}
